<div *ngIf="stats" style="padding:40px 20px;margin:10px;">
  <div class="widget">
    <div class="wl">
      <span class="win">{{stats.wins}}</span>
      <span>-</span>
      <span class="loss">{{stats.losses}}</span>
    </div>
    <div class="logo" [ngStyle]="{'background-image': 'url(\'assets/emblems/'+ stats.rank.tier + '_Emblem.png\')'}">
    </div>
    <div class="standing" [ngClass]="{'miniSeries': stats.miniSeries}">
      <p id="server" *ngIf="stats.server">
        {{stats.server.toUpperCase()}}</p>
      <span *ngIf="stats.rank.division">
        {{stats.rank.tier}}
        <ng-container
          *ngIf="stats.rank.tier != 'Grandmaster' && stats.rank.tier != 'Master' && stats.rank.tier != 'Challenger'">
        {{stats.rank.division}}
          </ng-container>
        {{stats.rank.lp}} LP
      </span>
      <span *ngIf="!stats.rank.division">
          {{stats.rank.tier}}
      </span>
      <div class="series" *ngIf="stats.miniSeries">
        <ng-container *ngFor="let match of stats.miniSeries.split('')">
      <span [ngClass]="{'win':  match === 'X', 'loss': match === 'O'}">
        {{match}}
      </span>
        </ng-container>
      </div>
    </div>

  </div>
</div>
