<div *ngIf="manager.currentAccount" style="padding:40px 20px;margin:10px;">
  <div class="widget">
    <div class="wl">
      <span class="win">{{manager.wins}}</span>
      <span>-</span>
      <span class="loss">{{manager.losses}}</span>
    </div>
    <div class="logo" [ngStyle]="{'background-image': 'url(\'assets/emblems/'+ manager.rank + '_Emblem.png\')'}">
    </div>
    <div class="standing" [ngClass]="{'miniSeries': manager.currentAccount.miniSeries}">
      <p id="server">
        {{manager.currentAccount.server}}</p>
      <span *ngIf="manager.currentAccount">
                      {{manager.currentAccount.ranking}} </span>
      <div class="series" *ngIf="manager.currentAccount">
        <ng-container *ngIf="manager.currentAccount.miniSeries">
          <ng-container *ngFor="let user of manager.currentAccount.miniSeries.split('')">
      <span [ngClass]="{'win':  user === 'X', 'loss': user === 'O'}">
        {{user}}
      </span>
          </ng-container>
        </ng-container>
      </div>
    </div>

  </div>
</div>
