<div style="padding: 10px; margin:10px;">
  <div class="widget" *ngIf="stats">
    <div class="logo" [ngStyle]="{'background-image': 'url(\'assets/emblems/' + stats.tier + '_Emblem.png\')'}">

    </div>

    <div class="wl">
      <span class="win">{{stats.wins}}</span>
      <span class="neutral" >-</span>
      <span class="loss">{{stats.losses}}</span>
    </div>
    <div class="standing" >
      <div class="separator separator-top separator-top"></div>

      <span>
                        <span class="server">
                            [{{stats.server}}]</span>
        {{stats.tier}} {{stats.division}} {{stats.lp}} LP
                    </span>
      <div class="separator">
        <div *ngIf="stats.miniSeries" class="series">
          <ng-container *ngFor="let game of stats.miniSeries">
            <span [ngClass]="{'win': game==='O', 'loss': game==='X'}">{{game}}</span>
          </ng-container>
        </div>
      </div>
    </div>
    <div class="history">
      <!--
      <ng-container *ngFor="let game of manager.currentAccount.history; let i =index">
                        <span [ngStyle]="{'background-image': 'url(\'assets/champion/'+ game[2] + '.png\')'}"
                              [ngClass]="{'win': game[0]===game[1], 'loss': game[0]!==game[1], 'remake': game[0] === 0}"
                              [style.opacity]=" 1-i/8 "></span>
      </ng-container>
      !-->
    </div>
  </div>
</div>
