<ng-container *ngIf="out == 'small' || out == 'all'">
    <app-small></app-small>
</ng-container>
<ng-container  *ngIf="out == 'ranking' || out == 'all'">
  <app-ranking></app-ranking>
</ng-container>
<ng-container  *ngIf="out == 'large' || out == 'all'">
  <app-large></app-large>
</ng-container>
<ng-container  *ngIf="out == 'match_only' || out == 'all'">
  <app-match-only></app-match-only>
</ng-container>

<ng-container  *ngIf="out == 'interface' || out == 'all'">
    <app-live></app-live>
</ng-container>
