@import '../../../colors.scss';


body {
  background: $background;
}

button.primary {
  background: $gold;
}

.gold-text {
  color: $gold;
}

div.container-fluid {
  div.row {

    div#stats {

      .numbers {
        font-size: 20px;
      }

    }
  }
}


div.menu {

  background: $background;
  position: absolute;
  width: 100%;
  height: 100%;

  hr {
    margin: 30px 15px;
    color: $gold;
  }

  p {
    color: $gold;
  }

  .btn-outline-secondary {
    border-color: $gold;
    color: $gold;

    &:hover {
      background: rgba(181, 140, 74, 0.2)
    }
  }

  h1 {
    color: $gold;
    margin: 10px 0 0 10px;
    font-weight: lighter;
  }

  div.stats {
    padding: 0 20px;
    margin: 0 10px;
    border: solid 1px black;
    text-align: center;
    height: 150px;
    position: relative;

    div.numbers {
      float: left;
      width: 40%;
      font-size: 90px;
      position: relative;

    }

    div.sep {
      width: 20%;
      color: $gold;
    }

    div.wins {
      text-align: right;
    }

    div.losses {
      text-align: left;
    }

    div.change {
      position: absolute;

      &.wins {
        left: 10px;
      }

      &.losses {
        right: 10px;
      }
    }

    div.buttons {
      position: absolute;
      bottom: 5px;
      font-size: 10px;

      button.btn {
        margin: 5px;
        font-size: 15px;
        background: transparent;
        color: inherit;
        border: solid 1px;
        border-color: inherit;
      }

      &.wins {
        left: 5px;
      }

      &.losses {
        right: 5px;
      }

      &.reset {
        left: 50%;
        margin-left: -35px;

        color: $gold;
        border-color: $gold;
      }
    }
  }

  div.accounts {
    margin: 20px;

    table {

      color: $gold;
      font-weight: bold;

      .active_marker {
        color: $blue;
        font-weight: light;
        font-size: 10px;
      }
    }
  }

  div.comments {
    padding: 10px 10%;
    font-size: 13px;

  }

  div.disclaimer {
    color: $gold;
    opacity: 0.5;
    padding: 10px;
    position: absolute;
    bottom: 0;
  }

  div.connection_tracker {
    position: absolute;
    top: 5px;
    right: 5px;
    color: #5AE9F5;
    font-size: 20px;

    &.disconnected {
      color: $red;
    }

    &.connecting {
      color: yellow;
    }

    &.connected {
      color: green;
    }

  }
}
