/* You can add global styles to this file, and also import other style files */

$path: "./font.ttf";

$blue:  #5AE9F5;
$red:   #D73D44;
//$gold:  #775C31;
$gold: #b58c4a;

$background:    #0b1922;

@font-face{
    font-family: 'Fritz Quadrata';
    src:url($path) format('truetype'),

}

body{
    font-family: "Fritz Quadrata";
    margin: 0;
    background: transparent;
}

html, body { height: 100%; }
